<%- include('partials/header') %>

    <div class="container">
      <h1>Loginned Successfully!</h1>
      <p style="font-size: 25px;font-weight:500;">"Welcome Back...! </p>
      <p style="font-size: 18px;">We’re glad to see you again!"</p>
    </div>

  <%- include('partials/footer') %>