<%- include('partials/header') %>

  <div class="container">
    <p style="font-size: 27px; font-weight:500;"> Welcome To The Website</p>
    <p>We're thrilled to have you here.
      Whether you're a new visitor looking to join our community or a returning member,
      our registration and login processes are simple and user-friendly</p>
      <div class="btn-container">
        <button class="btn btn-color-2" onclick="location.href='/register'">Register</button>
        <button class="btn btn-color-2" onclick="location.href='/login'">Login</button>
    </div>
    

    <%- include('partials/footer') %>